.section-title {
  text-align: center;
  margin-bottom: 35px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 600;
}

/*! categories start */
.categories {
  margin: 40px 0;
}
.categories .category-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
/*! categories end */

/*! products start */
.products {
    margin-bottom: 40px;
}
.products .product-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
/*! products end */

/*! campaign start */
.campaigns .campaigns-wrapper {
  display: flex;
  gap: 30px;
  margin: 30px 0;
  flex-wrap: wrap;
}
/*! campaign end */

/*! blog start */
.blogs {
  margin-bottom: 30px;
}

.blogs .blog-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
/*! blog end */


/*! brands start */

/*! brands end */
.brands {
  margin: 40px 0;
}
.brand-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #dee0ea;
  padding: 30px 10px;
}
.brand-list .brand-item {
  opacity: .4;
  transition: .3s ease all;
}
.brand-list .brand-item:hover {
  opacity: 1;
}
/*! responsive */

@media (max-width: 768px) {
  .blogs .blog-list {
    flex-wrap: wrap;
  }
}
